$page-width: 66.9rem; // 1,070.4px

$xs: 'screen and (max-width: 33.9rem)';
$sm: 'screen and (max-width: 47.9rem)';
$md: 'screen and (max-width: 61.9rem)';
$lg: 'screen and (max-width: 74.9rem)';

$xsw: 33.9rem; // 542.4px
$smw: 47.9rem; // 766.4px
$mdw: 61.9rem; // 990.4px
$lgw: 74.9rem; // 1198.4px